body {
  background-color: white;
}
head {
    background-color: navy;
}
header {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 254, 254);
    font-size-adjust: 30px;
}
body {
    padding: 20px;
    background-color: whitesmoke
}
main{
    padding: 30px;
}
div{
    padding: 5px;
}

.actions .comment-count {
    margin-left: 10;
}

.info {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 254, 254);
}