    <body>
        <header>A safe space for you and your Pokémon!</header>
    </body>
    <body>
        <main role="main">
            <article class="finstagram-post">
                 <div class="user-info">
                    <img src="https://instagram.fyvr2-1.fna.fbcdn.net/v/t51.2885-19/s320x320/117360058_3164655263569696_1733929600028288727_n.jpg?_nc_ht=instagram.fyvr2-1.fna.fbcdn.net&_nc_ohc=7prEqeLRT_MAX8S4OBv&oh=2a345746b9988eb1cd7e3dd81c1e0aec&oe=5F68C92F" alt="Cardboard Money">
                    <h2>posted 69 minutes ago</h2>
                 </div>
            </article>
            <article> 
                    <h3>First Edition Charizard</h3>
                 </div>
                 <div class="photo" href="#">
                    <img src="https://i.etsystatic.com/22490751/r/il/4455d0/2206272558/il_570xN.2206272558_ofaq.jpg"
                </div>
                <div class="actions">
                    15 Likes
                    <span class="comment-count">1 Comment</span>
                <div class="comments">
                    <ul>
                        <li>Currently on the rise, A first edition Charizard could make you up to 75,000$ USD</li>
                    </ul>
                </div>
            </article>
            <article class="info"
                <div class="caption">
                        <h4>If you have cards that you would like to appraise, Let us know! We are here to help!</h4>
            </article>
        </main>
    </body>