<!doctype html>
<html>
    <head>
        <title>Finstagram</title>
    </head>
    <body>
    <h1>Hello World!</h1>
    <h2>Welcome to FINSTAGRAM!</h2>
    <p1>Here you will be able to publish content that will make your profiles burst with your personality!</p1>
    <p2>Enjoy and come again!</p2>
    </body>
    <body>
    <p>We are currently building our database so we can host all of your posts! Check back for more progress.</p>
    </body>
    <body>
    <p>Here are a few things that I will post about!</p>
    <ul>
    <li>Pokemon</li>
    <li>Food</li>
    </ul>
    </body>
</html>
